$fontWhite: #ffffff;
$accentColor: #2196f3;
$fontBlack2: #000000;
$fontBlack1: #212121;
$fontGray: #757575;

$backgroundBlack: #2f303a;
$backgroundGray: #f5f4fa;
$titleBackground: #c4c4c4;
$iconsGray: rgba(175, 177, 184, 1);
$iconsTranspered: rgba(255, 255, 255, 0.1);